body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #1e1e1e;
    color: #ffffff;
  }
  textarea {
    width: 80%;
    height: 200px;
    display: block;
    margin: 10px auto;
    background: #333;
    color: #fff;
    border: 1px solid #555;
    padding: 10px;
    border-radius: 5px;
  }
  button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    background: #2d336b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  button:hover {
    background: #007bff;
  }
  pre {
    background: #222;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
    color: #0f0;
  }
  iframe {
    width: 80%;
    height: 300px;
    background: white;
    border: 1px solid #555;
    display: none;
    margin: 10px auto;
  }
  #output-container {
    display: none;
  }
  #editor-container {
    display: block;
  }
  footer {
    background: #2d336b;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    /* margin-top: 20px; */
  }

  footer p {
    font-size: 1rem;
  }
  header {
    background: #2d336b;
    color: #fff;
    padding: 0rem 0;
    padding-top: 15px;
    text-align: center;
    width: 100%;
  }

  header h1 {
    text-align: center;
    padding-bottom: 30px;
  }

  nav ul {
    list-style: none;
    text-align: center;
    padding-top: 20px;
  }

  nav ul li {
    display: inline;
    margin: 0 15px;
  }

  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }

  nav ul li a:hover {
    color: darkgray;

  }
  .ct h1 {
    margin-left: 10px;
    letter-spacing: 2em;
  }
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
  }